In [2]:
eingabe = input('Eingabe: ')

Eingabe:  abc

In [3]:
eingabe

'abc'

In [10]:
fobj = open('data.txt', 'w')

In [11]:
fobj

In [12]:
fobj.write('Zeile 1\nZeile 2\nZeile 3\n\nZeile 5\n')

33

In [13]:
fobj.write("""Zeile 6
Zeile 7

Zeile 9
""")

25

In [14]:
fobj.close()

In [15]:
%less data.txt

Zeile 1
Zeile 2
Zeile 3

Zeile 5
Zeile 6
Zeile 7

Zeile 9

In [16]:
with open('data.txt') as fobj:
    print(fobj.closed)
    print(fobj.closed)
print(fobj.closed)

False
False
True

In [17]:
with open('data.txt') as fobj:
    data = fobj.read()

In [18]:
data

'Zeile 1\nZeile 2\nZeile 3\n\nZeile 5\nZeile 6\nZeile 7\n\nZeile 9\n'

In [19]:
print(data)

Zeile 1
Zeile 2
Zeile 3

Zeile 5
Zeile 6
Zeile 7

Zeile 9

In [20]:
with open('data.txt') as fobj:
    data_lines = fobj.readlines()

In [22]:
data_lines

['Zeile 1\n',
 'Zeile 2\n',
 'Zeile 3\n',
 '\n',
 'Zeile 5\n',
 'Zeile 6\n',
 'Zeile 7\n',
 '\n',
 'Zeile 9\n']

In [24]:
with open('data.txt') as fobj:
    for line in fobj:
        print(line, end='')

Zeile 1
Zeile 2
Zeile 3

Zeile 5
Zeile 6
Zeile 7

Zeile 9

In [25]:
line

'Zeile 9\n'

In [26]:
line.split()

['Zeile', '9']

In [27]:
line.split()[-1]

'9'

In [28]:
int(line.split()[-1])

9

In [29]:
sum_ = 0
with open('data.txt') as fobj:
    for line in fobj:
        sum_ += int(line.split()[-1])

IndexError: list index out of range

In [30]:
line

'\n'

In [33]:
line.split()

[]

In [34]:
line.strip()

''

In [35]:
sum_ = 0
with open('data.txt') as fobj:
    for line in fobj:
        if line.strip():
            sum_ += int(line.split()[-1])

In [36]:
sum_

33

In [37]:
with open('data.txt') as fobj:
    sum_ = sum(int(line.split()[-1]) for line in fobj if line.strip())

In [38]:
sum_

33

# Pause bis 11:55 Uhr

In [39]:
%less data2.txt

Name    Wert
Zeile 1
Zeile 2
Zeile 3

Zeile 5
Zeile 6
Zeile 7

Zeile 9

In [41]:
line.split()

['Zeile', '9']

In [48]:
names = []
values = []
with open('data2.txt') as fobj:
    next(fobj)
    for line in fobj:
        if line.strip():
            name, value = line.split()
            names.append(name)
            values.append(int(value))

In [44]:
names

['Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile']

In [45]:
values

[1, 2, 3, 5, 6, 7, 9]

In [46]:
sum(values)

33

In [51]:
names = []
values = []
table = {}
with open('data2.txt') as fobj:
    keys = next(fobj).split()
    for line in fobj:
        if line.strip():
            name, value = line.split()
            names.append(name)
            values.append(int(value))
table[keys[0]] = names
table[keys[1]] = values

In [50]:
keys

['Name', 'Wert']

In [52]:
table

{'Name': ['Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile'],
 'Wert': [1, 2, 3, 5, 6, 7, 9]}

In [54]:
with open('data2.txt') as fobj:
    keys = next(fobj).split()
    table = {key: [] for key in keys}
    for line in fobj:
        if line.strip():
            for key, value in zip(keys, line.split()):
                table[key].append(value)

In [55]:
table

{'Name': ['Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile'],
 'Wert': ['1', '2', '3', '5', '6', '7', '9']}

In [68]:
def default_converter(string):
    try:
        return int(string)
    except ValueError:
        try:
            return float(string)
        except ValueError:
            return string


def read_file(file_name,
              converters={'Wert1': complex},
              default_converter=default_converter):
    """Read file as dict of lists."""
    with open(file_name) as fobj:
        keys = next(fobj).split()
        table = {key: [] for key in keys}
        for line in fobj:
            if line.strip():
                for key, value in zip(keys, line.split()):
                    convert = converters.get(key, default_converter)
                    table[key].append(convert(value))
    return table

In [69]:
read_file('data2.txt')

{'Name': ['Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile'],
 'Wert': [1, 2, 3, 5, 6, 7, 9]}

In [70]:
read_file('data3.txt')

{'Name': ['Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile', 'Zeile'],
 'Wert1': [(1+0j), (2+0j), (3+0j), (5+0j), (6+0j), (7+0j), (9+0j)],
 'Wert2': [4.6, 4.6, 4.6, 4.6, 4.6, 4.6, 4.6],
 'Wert3': ['Hallo', 'Hallo', 'Hallo', 'Hallo', 'Hallo', 'Hallo', 'Hallo']}

In [61]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [71]:
import pandas as pd

In [73]:
df = pd.read_csv('data3.txt', delim_whitespace=True)

In [74]:
df

    Name  Wert1  Wert2  Wert3
0  Zeile      1    4.6  Hallo
1  Zeile      2    4.6  Hallo
2  Zeile      3    4.6  Hallo
3  Zeile      5    4.6  Hallo
4  Zeile      6    4.6  Hallo
5  Zeile      7    4.6  Hallo
6  Zeile      9    4.6  Hallo

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Wert1   7 non-null      int64
 2   Wert2   7 non-null      float64
 3   Wert3   7 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 352.0+ bytes

In [ ]:
pd.read_csv?

In [77]:
import pickle

In [78]:
L = list(range(2, 11))

In [80]:
p = pickle.dumps(L)

In [81]:
pickle.loads(p)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
with open('liste.pcl', 'wb') as fobj:
    pickle.dump(L, fobj)

In [83]:
%ls -al liste.pcl

-rw-r--r-- 1 pya_trainer_master pya_trainer_master 34 Aug 15 10:46 liste.pcl

In [84]:
with open('liste.pcl', 'rb') as fobj:
    L2 = pickle.load(fobj)

In [85]:
L2 == L

True

In [86]:
L2 is L

False

In [87]:
L2

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [88]:
raw = ['1\n', '2\n']

In [89]:
[int(x) for x in raw]

[1, 2]

In [90]:
from string import whitespace

In [91]:
whitespace

' \t\n\r\x0b\x0c'

In [92]:
[x.strip() for x in raw]

['1', '2']

In [15]:
with open("t4.txt", "w") as file:
    for i in range(1, 11):
        file.write(f"{i:3d}\n")

In [16]:
%less t4.txt

  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [1]:
with open("t1.txt", "w") as file:
    for i in range(1, 11):
        file.write(str(i)+"\n")

In [3]:
%less t1.txt

1
2
3
4
5
6
7
8
9
10

In [5]:
with open("t2.txt", "w") as file:
    file.write('\n'.join(str(i) for i in range(1, 11)))

In [6]:
%less t2.txt

1
2
3
4
5
6
7
8
9
10

In [7]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [11]:
with open("t3.txt", "w") as file:
    print(*range(1, 11), sep='\n', file=file)

In [12]:
%less t3.txt

1
2
3
4
5
6
7
8
9
10

In [17]:
with open("t2.txt", "r") as file:
    all_data = file.read()

In [18]:
all_data

'1\n2\n3\n4\n5\n6\n7\n8\n9\n10'

In [19]:
with open("t2.txt", "r") as file:
    data_lines = file.readlines()

In [20]:
data_lines

['1\n', '2\n', '3\n', '4\n', '5\n', '6\n', '7\n', '8\n', '9\n', '10']

In [21]:
with open("t2.txt", "r") as file:
    numbers = [int(x) for x in file.readlines()]

In [22]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
import argparse

#  input
parser = argparse.ArgumentParser(description="IO-Handler")

In [24]:
parser.add_argument?

Signature: parser.add_argument(*args, **kwargs)
Docstring:
add_argument(dest, ..., name=value, ...)
add_argument(option_string, option_string, ..., name=value, ...)
File:      /opt/mambaforge/envs/python310/lib/python3.10/argparse.py
Type:      method